<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<title><%= title %></title>
</head>
<body>
	<div class="container-fluid h-100">
		<div class="row h-100">
			<aside class="col-12 col-md-2 p-0 bg-dark sticky-top">
				<nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start py-2">
					<div class="collapse navbar-collapse">
						<ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
							<li class="nav-item">
								<a class="nav-link pl-0 text-nowrap" href="/users"><i class="fa fa-bullseye fa-2x"></i> <span class="font-weight-bold">Brand</span></a>
							</li>
							<br>
							<li class="nav-item">
								<a class="nav-link pl-0" href="/users"><i class="fa fa-home fa-2x"></i> <span class="d-none d-md-inline">Trang chủ</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link pl-0" href="/users/previousOrder"><i class="fa fa-clock-o fa-2x"></i> <span class="d-none d-md-inline">Đơn hàng của tôi</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link pl-0" href="/users/favoriteFood"><i class="fa fa-heart fa-2x"></i> <span class="d-none d-md-inline">Thực đơn yêu thích</span></a>
							</li>
							<br>
							<li class="nav-item">
								<a class="nav-link pl-0" href="/logout"><i class="fa fa-sign-out fa-2x"></i> <span class="d-none d-md-inline">Đăng xuất</span></a>
							</li>
						</ul>
					</div>
				</nav>
			</aside>
			<main class="col bg-faded py-3"  style="min-height: 650px">
				<div class="content">
					<div class="greeting m-5">
						<h2 class="text-center font-weight-normal">Chào <%= username %>!</h2>
						<h2 class="text-center font-weight-normal">Đặt đồ uống chỉ sau vài bước đơn giản!</h2>
					</div>
					<div class="start text-center my-5">
						<button type="button" class="btn btn-success btn-lg btn-inline-block" style="width:200px; height: 100px;">
							<i class="fa fa-coffee fa-2x"></i>
							<span class="d-none d-md-inline" style="font-size: 1.5em"> Bắt Đầu</span>
						</button>
					</div>
					<div class="process">
						<div class="row">
							<div class="col-sm-4 text-center">
								<img src="/static/user/imgs/landing-icon-1.png" alt="" style="width:150px">
								<h5>Chọn cửa hàng</h5>
							</div>
							<div class="col-sm-4 text-center">
								<img src="/static/user/imgs/landing-icon-2.png" alt="" style="width:150px">
								<h5>Đặt đồ</h5>
							</div>
							<div class="col-sm-4 text-center">
								<img src="/static/user/imgs/landing-icon-3.png" alt="" style="width:150px">
								<h5>Sẵn sàng khi bạn đến</h5>
							</div>
						</div>
					</div>
					<div class="footer">

					</div>
				</div>
			</main>
		</div>
	</div>




	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="/static/user/js/Start.js"></script>
</body>
</html>
