<!DOCTYPE html>
<html>
  <head>
    <title>Trang chủ</title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello <%= data.a_name %></h1>
  </body>
</html>
