<!DOCTYPE html>
<html>
  <head>
    <title>Trang chủ</title>
    <link rel='stylesheet' href='/static/stylesheets/style.css' />
  </head>
  <body>
    <h1> Chào mừng đến với chuỗi nhà hàng của chúng tôi</h1>
  </body>
</html>
