<div class="row bg-light">
    <div class="col-md-4">
        <div class="h5">Quản Lý đơn hàng</div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="btn-group username">
            <button type="button" class="btn btn-secondary dropdown-toggle bg-dark rounded-0"
                data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                Tài khoản
            </button>
            <div class="dropdown-menu dropdown-menu-lg-left">
                <a class="dropdown-item" href="/employee/profile">Hồ sơ</a>
                <a class="dropdown-item" href="/logout">Đăng xuất</a>
            </div>
        </div>
    </div>
</div>
