<div class="row bg-light">
    <div class="col-md-4">
        <div class="h5">Quản Lý đơn hàng</div>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="btn-group username">
            <button type="button" class="btn btn-secondary dropdown-toggle bg-dark rounded-0"
                data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
                User name
            </button>
            <div class="dropdown-menu dropdown-menu-lg-left">
                <button class="dropdown-item" type="button">Your Profile</button>
                <button class="dropdown-item" type="button">Log out</button>
            </div>
        </div>
    </div>
</div>
