<div class="col-md-2 bg-dark side-nav">
    <nav class="navbar navbar-expand-md navbar-light navbar-dark">
        <!-- <a class="navbar-brand" href="#">Start Bootstrap</a> -->
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse"
            data-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 d-flex flex-column font-weight-bold">
                <li class="nav-item">
                    <a class="nav-link mb-2 item" href="/employee/list">
                        <i class="fas fa-list-alt fa-2x"></i>
                        Danh sách
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mb-2 item" href="/">                       
                        <i class="fas fa-home fa-2x"></i>
                        Trang chủ
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
