<!doctype html>
<html lang="en">

<% include components/head %>

<body>
    <div class="container-fluid">
        <div class="row">
            <% include components/side-nav %>
            <div class="col-md-11 ">
                <% include components/header %>
                <div class="h6 mt-2">
                    Cập nhật đơn hàng
                </div>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <% include components/script %>
    <script src="/static/employee/update.js"></script>
</body>

</html>
