body{
    margin: 0;
    padding: 0;
}

@media (min-width: 768px){
    .side-nav{
        height: 100vh;
    }

    .item{
        margin-left: -1rem;
    }
    .nav-item:nth-child(2){
        position: relative;
    }
    .nav-item:nth-child(3){
        position: absolute;
        top: 35rem;
    }
    .username{
        margin-left: 12rem;
    }
}
